CodeAlpha_Backend_Development_Tasks/CodeAlpha_URL_shortner/package.json
CodeAlpha_Backend_Development_Tasks/CodeAlpha_URL_shortner/package-lock.json
CodeAlpha_Backend_Development_Tasks/CodeAlpha_URL_shortner/database.sqlite
CodeAlpha_Backend_Development_Tasks/CodeAlpha_Event_registration_system/backend/database.sqlite
CodeAlpha_Backend_Development_Tasks/CodeAlpha_Event_registration_system/backend/*.sqlite
CodeAlpha_Backend_Development_Tasks/CodeAlpha_Event_registration_system/backend/*.sqlite3
CodeAlpha_Backend_Development_Tasks/CodeAlpha_Event_registration_system/backend/*.db